.listen {
    width: 100%;
}
.listen .carousel {
    position: relative;
    right: 0;
    direction: ltr !important;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    }
.listen .carousel .slider{
    margin-bottom: 40px !important;
    width: 300px;
    height: max-content;
    padding:0 20px;
    position: relative;
    cursor: pointer;
}
.listen .carousel .slider h6 {
    position: absolute;
    width: 100%;
    color: #ffffff;
    bottom: 5%;
    font-size: 20px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 2;
}
.listen .carousel .slider .img-slider {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
} 
.listen .carousel .slider .img-slider img {
    filter: grayscale(0.5);
    transition: filter 300ms;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    pointer-events: none;
}
.listen .carousel .slider .img-slider:hover img{
    filter: grayscale(0);
}
/* react-multiple-carousel__arrow react-multiple-carousel__arrow--right  */
.react-multiple-carousel__arrow {
    position: absolute !important;
    font-size: 30px !important;
    color: var(--main-text-color) !important;
    background: transparent !important;
    bottom: -15px !important;
    right: 0 !important;
    display: inline-block !important;
    transition: color 300ms !important;
}

.react-multiple-carousel__arrow:hover {
    color: var(--green-text-color) !important;
}
.react-multiple-carousel__arrow--right {
    left: 10%;
} 
.listen .content {
    display: grid;
    grid-template-columns: 1fr auto;
}
.sorah .noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1)
}
.sorah .noResults h4 {
    font-size: 35px;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 15px;
    display: inline-block;
    margin-left: 20px;
}
.sorah .noResults p{
    background: rgba(255, 0, 0, 0.678);
    color: #fff;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
}
.sorah .Section_header{
    position: sticky !important;
    top: 2px;
}
.sorah .Section_header h1::after {
   width: 100%;
}
.sorah .search{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 250px;
} 
.sorah .search label{
left: -17%;
}
.sorah .cards{
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
 }
.card-sorah{
    background: var(--main-bg);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition:transform .3s;
}
.card-sorah:hover {
    transform: scale(1.02);
}
.card-sorah .sorahId {
    display: inline-block ;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--green-text-color);
    background: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.card-sorah .title {
    font-size: var(--main-font-s);
    font-size: 30px;
    font-weight: bold;
    color: var(--second-text-color);
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}
.card-sorah .ayaCount {
    color: var(--second-text-color);
}
@media (max-width:1600px) {
    .listen .content {
        grid-template-columns: none;
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .listen .carousel {
        max-width: 100%;
    }
    .react-multiple-carousel__arrow--right{
        left: 20% !important;
    } 
}
/* auido  */
.Audio{
    margin-bottom: 80px;
    padding: 50px;
    background: var(--main-bg);
    padding-top: 50px;
    border-radius: 30px;
    display: flex;
    height: 370px; 
    /* justify-content: center; */
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #00ff557c 0%, #330867 100%);
}
.Audio h2 {
    color: var(--main-text-color);
}
.Audio select{
    background: var(--second-bg);
    color: var(--main-text-color);
    padding:5px 10px;
    border-radius: 15px;
    transition: 500ms ease-in-out;
    display: inline-block;
    margin-bottom: 20px;
    width: 300px;
}
.Audio select:focus { 
    outline: 2px solid var(--green-color);
}
@media (max-width:500px) {
    .Audio select{
        width: 200px;
    }
}
.Audio .row-1  {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: var(--second-text-color);
}
.Audio .img {
    margin-bottom: 15px;
    background: var(--second-bg);
    padding: 20px;
    border-radius: 50%;
}
.Audio .img img {
    width: 70px;
    height: 70px;
}
.Audio a > img {
    width: 70px;
    height: 70px;
}
.Audio .audio-ui > div{
    margin-top: 11px;
    border-radius: 50px;
    position: relative !important;
    --rm-audio-player-interface-container:transparent;
background: rgba(56, 4, 4, 0.541);
box-shadow: 0 8px 32px 0 rgb(59, 42, 42);
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
--rm-audio-player-track-current-time:#a9b6db;
--rm-audio-player-track-duration:var(--second-text-color);
}
.Audio .audio-ui > div svg {
    color: var(--main-text-color);
}
.Audio .audio-ui > div img {
    display: none;
}
.Audio .audio-ui > div .interface-grid {
    border-radius: 20px !important;
    display: flex;
}
@media (min-width:1600px) {
.Audio {
    position: sticky;
    top: 70px;
    margin-right: 60px;
    margin-bottom: 0px;
}
    .Audio .audio-ui > div{
        margin-top: -91px;
    top: 100px;
 }
}