.radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radio > div {
  width: 100%;
}
.radio .cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.radio .cards .card {
  box-sizing: content-box !important;
  overflow: hidden;
  text-align: center;
  position: relative;
  background: var(--main-bg);
  padding: 20px;
  border-radius: 20px;
  height: 120px;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  align-items: center;
  z-index: 1;
}
.radio .cards .card .live {
  position: absolute;
  background: #1a1919;
  border-radius: 10px;
  width: 90px;
  top: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.radio .cards .card .live span {
  display: inline-block;
  margin-left: 10px;
}
.radio .cards .card .live i::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 0, 0);
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite both;
}
.radio .cards .card .live i {
  position: relative;
  width: 8px;
  border-radius: 50%;
  background: red;
  height: 8px;
}
.radio .cards .card h2 {
  color: var(--main-text-color);
  font-size: 18px;
  width: 80%;
  line-height: 1.5;
  position: relative;
}
.radio .cards .card h2::after {
  content: "";
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/line-black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.radio .cards .card::before,
.radio .cards .card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 30%;
  height: 100%;
  background-image: url("/img/corner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}
body.dark .radio .cards .card::before,
body.dark .radio .cards .card::after {
  opacity: 1;
}
.radio .cards .card::before {
  left: 0;
}
.radio .cards .card::after {
  top: 0;
  right: 0;
  transform: rotate(-180deg);
  width: 30%;
}
.radio .audio-ui {
  margin-bottom: 20px;
  width: 50%;
  background: transparent !important;
  position: fixed;
  bottom: 60px;
  z-index: 5;
  left: 47.5%;
  transform: translate(-50%,300px);
  height: max-content;
  transition: .3s ease-in-out;
}

.radio .audio-ui > div {
  background: rgba(77, 73, 73, 0.301);
  box-shadow: 0 2px 20px 0 rgb(76, 77, 90);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(3px);
  width: 100%;
}
.radio .audio-ui > div .interface-grid div:empty {
  display: none !important;

}

.radio .audio-ui .title{
  color: var(--main-text-color);
  width: fit-content;
  display: inline-block;
}
.radio .audio-ui .writer{
  display: none;
}
@media (max-width:768px) {
  .radio .audio-ui {
    width: 70%;
    left: 52%;
  }
  .radio .audio-ui > div .sc-cwHptR{
    justify-content: center;

  }
}
