header{
    max-width: 100%;
    height: fit-content;
    grid-area: hdr;
    padding: 15px;
    position: relative;
}
header::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 15px;
    animation: rotate infinite 2s linear alternate;
    width: 100px;
    height: 100px;
    background: url(/img/lamp.png) no-repeat  ;
    background-size: contain;
    z-index: 2;
}
header::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 2.9%;
    width: 25px;
    filter: blur(5px);
    height: 10px;

    background-size: contain;
    z-index: 3;
    background-color: var(--second-bg);
}
header .container {
    display: flex ;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}
header .logo{
    display: flex;
    align-items: center;
    margin-left: 2px;

}
header .logo img {
    width: 40px;
    height: 40px;
}
header .logo h2 {
    color: var(--main-text-color);
    font-size: 17px;
    margin-right: 20px;
    text-wrap: nowrap;
}
.search{
    position: relative;
    max-width: fit-content;

}
.search input{
    background-color: var(--main-bg );
    color: var(--main-text-color);
    width: 250px;
    border-radius: 20px;
    border: #7777 1px solid;
    padding: 10px 20px ;
    padding-left: 40px;

}
.search input:focus {
    outline: none
}
.search input::placeholder {
    color: var(--second-text-color);
}
.search label {
    min-width: 100%;
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--main-text-color);
}
.search label svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
@media (min-width:820px) and (max-width:1180px) {
    header .container {
        width: 80%;
    }
}

    @media (max-width:768px) {
        header .container {
            width: 100%;
        justify-content: space-between;
    }

    header .container .logo
     {
        margin-left: 15px;
    }
    header .search input {
        width: 200px;
    }

  }
@media (max-width:450px) {
    header .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .search input{

        width: 100%;
    }
    header .container .logo
     {
        margin-bottom: 15px;

    }

  }
  @media (max-width:400px) {
     .search input{
        width: 130px;
    }

  }
